<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841660677135-hv6is5glieohlni444ua5m4kdp5pvvub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841660677135-hv6is5glieohlni444ua5m4kdp5pvvub</string>
	<key>API_KEY</key>
	<string>AIzaSyC1EyV6wWcZBgTJNcwMvHkTGM3PjsMGeaM</string>
	<key>GCM_SENDER_ID</key>
	<string>841660677135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sefsar.MyWeyt</string>
	<key>PROJECT_ID</key>
	<string>myweyt-13e5d</string>
	<key>STORAGE_BUCKET</key>
	<string>myweyt-13e5d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:841660677135:ios:2ff3a0e02c03a3921ef77a</string>
</dict>
</plist>
